Backend  
   cd task-manager-flask-backend  
   git init  
   git add .  
   git commit -m "Initial commit"  
   git remote add origin https://github.com/[TU-USUARIO-GITHUB]/task-manager-flask-backend.git  
   git push -u origin main 
   